* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display:flex;
    margin: 20px;
    justify-content: space-between;
    color:rgba(35, 7, 62, 0.597);
}
.wrapper {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 780px){
    .wrapper {
        padding-top: 10%;
        padding-left: 25%;
        padding-right: 25%;
    }
}

.hide {
    display: none;
}